body {
    background-color: #fff8b5;
    font-family: 'Arial', sans-serif;
}
h1 {
    color: #4cff00;
    text-align: center;
}
p {
    color: #e60e0e;
    font-size: 10px;
}
li {
    color: #0e9ee6;
}
:link {
    color: blue;
    
}
:hover {
    text-decoration: none;
}
.styled-box {
    border: 2px solid #000000;
    background-color: lightgray;
    padding: 15px;
    text-align: center;
}

